<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1507434965515-61970f2bd7c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9fb72c1c53fe03421b3b914c7444d13c&auto=format&fit=crop&w=634&q=80');">
  <div class="banner-content">
    <h1>Le Wagon Cocktails Bar</h1>
    <p>Learn to code and drink a lot, life is now</p>
    <a href="/cocktails" class="btn btn-primary btn-lg"><i class="fa fa-glass-martini"></i></a>
  </div>
</div>
