<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="<%= image_path("logo.png") %>" alt="logo">
  </a>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="http://lefumoir.com/elements/bar-vins.pdf" target="_blank" class="navbar-wagon-item navbar-wagon-link">Menu</a>
    <a href="https://www.lewagon.com/es/barcelona" target="_blank" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    <a href="https://www.google.es/maps/place/Le+Wagon+Barcelona+Coding+Bootcamp/@41.4054048,2.1627273,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4a2c0a8c11443:0x3c4b676b305f1842!8m2!3d41.4054048!4d2.164916" target="_blank" class="navbar-wagon-item navbar-wagon-link">Address</a>
    <a href='/cocktails/new' target="_blank" class="btn-medium">Create a new cocktail</a>
  </div>
</div>

